* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.main-container {
  width: 400px;
  margin: auto;
  text-align: center;
}

.summary {
  font-weight: 900;
  font-size: 20px;
  color: hsl(223, 47%, 23%);
  margin-top: 10px;
}

.summary-text {
  font-weight: 500;
  font-size: 18px;
  color: var(--desaturated-blue);
  line-height: 25px;
  margin-top: 10px;
}
